h1{
    color: black;
}
/*Barra de navegacion*/

ul{
    text-align: left;
    font-size: 20px;
}

.navbar {
    padding: 2rem;
    background-color: #dadde2;  
}

.navbar-collapse { 
    align-items: center;
    justify-content: space-between;
}
/*estilos generales*/



.seccion-titulo{
    font-size: 2rem;
    padding: 15px 0;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.seccion-texto{
    font-size: 18px;
    line-height: 1.5;
}

.seccion-clara{
    color: black;
    background-color: white;
}
h2{
    font-size: 2rem;
    text-align: center;
}

h1{
    font-size: 2rem;
}

p{
    font-size: 18px;
}

.hero{
    background-color: #f5f6f7;
    min-height: 450px;
    text-align: center;
}

.hero-principal{
    padding: 3rem;
}
.hero-principal h2{
    font-size: 1.5rem;
    color: #615151
}
.hero-imagen-desarrollador{
    width: 200px;
    height: 200px;
    margin: 20px;
}

.sobre-mi{
    height: 620px;
    padding: 20px;
}
.sobre-my{
    max-width: 1000px;
    min-height: 150px;
    padding: 20px;
    background-color:  rgb(239, 241, 246);
    border-radius: 10px;
}

.sobre-mi .contenedor{
    max-width: 500px;
    text-align: center;
}
/*Experiencia*/
.experiencia{
    padding: 40px;
}

.experiencia .row div {
    height: 450px;
    background-color: white;
    text-align: justify;
}

.experiencia i {
    font-size: 2.5rem;
    padding: 20px 19px;
    text-align: center;
    justify-content: center;
    display: flex;
}
.experiencia-titulo{
    font-size: 25px;
    font-weight: bold;
    margin: 10px 0;
    text-align: center;
}


/* Contacto */

.contacto .container{
    width: 100%;
    min-height: 150px;
    padding: 20px;
}
.contacto .seccion-oscura{
    height: 200px;
}

.contacto .rectangulo{
    background-color: rgb(222, 225, 231);
}

.contadora{
    width: 100%;
    height: 100px;
    background-color: black;
    color: white;

}



@media screen and (max-width: 420px){
    .navbar-brand{
        display: none;
    }
    .contadora{
        width: 100%;
        height: 180px;
        background-color: black;
        color: white;
    }

    .contenedor{

        height: 673px;

    }
    .sobre-mi{
        height: 620px;
        padding: 20px;
    }
}


    

/*Falta adapatar el media 