h1{
    color: black;
}
/*Barra de navegacion*/

ul{
    text-align: left;
    font-size: 20px;
}

.navbar {
    padding: 2rem;
    background-color: #dadde2;  
}

.navbar-collapse { 
    align-items: center;
    justify-content: space-between;
}
/*estilos generales*/



.seccion-titulo{
    font-size: 2rem;
    padding: 15px 0;
}

/*section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    padding: 20px 20px 20px 20px;
}*/

.seccion-texto{
    font-size: 22px;
    line-height: 1.5;
}

.seccion-clara{
    color: black;
    background-color: white;
}
h2{
    font-size: 2rem;
    text-align: center;
}

h1{
    font-size: 2rem;
}
h3{
    text-align: center;
}

p{
    font-size: 18px;
}

.hero{
    background-color: #f5f6f7;
    min-height: 450px;
    text-align: center;
}

.hero-principal{
    padding: 3rem;
}
.hero-principal h2{
    font-size: 1.5rem;
    color: #615151
}
.hero-imagen-desarrollador{
    width: 200px;
    height: 200px;
    margin: 20px;
}

.sobre-mi{
    height: 720px;
    padding: 20px;
}
.sobre-mi2{
    height: 750px;
    padding: 20px;
}
.sobre-my{
    max-width: 1000px;
    min-height: 150px;
    padding: 20px;
    background-color:  rgb(239, 241, 246);
    border-radius: 10px;
}

.sobre-mi .contenedor{
    max-width: 500px;
    text-align: center;
}

.sobre-mi2 .contenedor{
    max-width: 500px;
    text-align: center;
}
.sobre-mi3 .contenedor{
    max-width: 500px;
    text-align: center;
}
/*Experiencia*/
.experiencia{
    padding: 40px;
}

.experiencia .row div {
    height: 450px;
    background-color: white;
    text-align: justify;
}

.experiencia i {
    font-size: 2.5rem;
    padding: 20px 19px;
    text-align: center;
    justify-content: center;
    display: flex;
}
.experiencia-titulo{
    font-size: 25px;
    font-weight: bold;
    margin: 10px 0;
    text-align: center;
}
.sobre-mi2{
    height: 720px;
    padding: 20px;
}


/* Contacto */

.contacto .container{
    width: 100%;
    min-height: 150px;
    padding: 20px;
}
.contacto .seccion-oscura{
    height: 200px;
}

.contacto .rectangulo{
    background-color: rgb(222, 225, 231);
}

.contadora{
    width: 100%;
    height: 110px;
    background-color: black;
    color: white;

}

.dudas{
    text-align: left;
    padding: 45px 150px 25px;
}

@media screen and (max-width: 415px){
    .navbar-brand{
        display: none;
    }
    .contadora{
        width: 100%;
        height: 140px;
        background-color: black;
        color: white;
        border-radius: 80px;

    }

    .contenedor{
        height: 1000px;
    }
    .sobre-mi{
        height: 815px;
        padding: 20px;
    }
    .sobre-mi2{
        height: 760px;
        padding: 20px;
    }
    .sobre-mi3{
        height: 990px;
        padding: 20px;
    }

    h3{
        color: rgb(229, 55, 55);
    }

    .contacto{
        padding: 20px 40px 20px 40px;
        border-radius: 80px;
    }
    .dudas{
        padding: 20px 20px 20px 20px;
        text-align: justify;
    }

}


    

/*Falta adapatar el media */
@media screen and (max-width: 360px){

    .navbar-brand{
        display: none;
    }
    .contadora{
        width: 100%;
        height: 180px;
        background-color: black;
        color: white;
    }

    .contenedor{
        height: 1000px;
    }
    .sobre-mi{
        height: 835px;
        padding: 20px;
    }
    .sobre-mi2{
        height: 800px;
        padding: 20px;
    }
    .sobre-mi3{
        height: 1050px;
        padding: 20px;
    }

    h3{
        color: rgb(229, 55, 55);
    }
    .dudas{
        padding: 20px 20px 20px 20px;
        text-align: justify;
    }
}